<a href="https://colab.research.google.com/github/bmt21411/bmt_python/blob/main/21411_9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
s = pd.Series([1, 2, 5, np.nan, 6, 8])

In [51]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [52]:
type(s)

pandas.core.series.Series

In [53]:
dates = pd.date_range('20210430', periods=6)

In [54]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [55]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [56]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [57]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210430'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

In [58]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [59]:
type(df2)

pandas.core.frame.DataFrame

In [60]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [61]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [62]:
df.head()

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095

In [63]:
df.tail()

                   A         B         C         D
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [64]:
df.head(1)

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986

In [65]:
df.tail(2)

                   A         B         C         D
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [66]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [67]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [68]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [69]:
df.values

array([[ 0.38807601, -0.60839911, -0.19892516, -0.44498552],
       [ 2.27582267,  0.42323786,  0.03765203,  1.44464356],
       [-0.23169505, -0.23967238, -0.34128946,  1.21031714],
       [-0.45822989,  1.31886921, -0.78289508, -1.18736168],
       [ 0.11677618, -1.02524688, -1.44791398,  0.86209476],
       [ 0.86053401,  0.2688843 ,  2.17015129, -0.19769811]])

In [70]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [71]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.388076    2.275823   -0.231695   -0.458230    0.116776    0.860534
B   -0.608399    0.423238   -0.239672    1.318869   -1.025247    0.268884
C   -0.198925    0.037652   -0.341289   -0.782895   -1.447914    2.170151
D   -0.444986    1.444644    1.210317   -1.187362    0.862095   -0.197698

In [72]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [73]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [75]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.860534  0.268884  2.170151 -0.197698
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986

In [76]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [77]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-05  0.860534  0.268884  2.170151 -0.197698
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362

In [78]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [79]:
df['A']

2021-04-30    0.388076
2021-05-01    2.275823
2021-05-02   -0.231695
2021-05-03   -0.458230
2021-05-04    0.116776
2021-05-05    0.860534
Freq: D, Name: A, dtype: float64

In [80]:
df['B']

2021-04-30   -0.608399
2021-05-01    0.423238
2021-05-02   -0.239672
2021-05-03    1.318869
2021-05-04   -1.025247
2021-05-05    0.268884
Freq: D, Name: B, dtype: float64

In [81]:
df['C']

2021-04-30   -0.198925
2021-05-01    0.037652
2021-05-02   -0.341289
2021-05-03   -0.782895
2021-05-04   -1.447914
2021-05-05    2.170151
Freq: D, Name: C, dtype: float64

In [82]:
df[['A','C']]

                   A         C
2021-04-30  0.388076 -0.198925
2021-05-01  2.275823  0.037652
2021-05-02 -0.231695 -0.341289
2021-05-03 -0.458230 -0.782895
2021-05-04  0.116776 -1.447914
2021-05-05  0.860534  2.170151

In [83]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [84]:
df[0:1]

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986

In [85]:
df['20210430':'20210501']

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644

In [86]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [88]:
df.loc['20210430']

A    0.388076
B   -0.608399
C   -0.198925
D   -0.444986
Name: 2021-04-30 00:00:00, dtype: float64

In [89]:
df['A']

2021-04-30    0.388076
2021-05-01    2.275823
2021-05-02   -0.231695
2021-05-03   -0.458230
2021-05-04    0.116776
2021-05-05    0.860534
Freq: D, Name: A, dtype: float64

In [92]:
df.loc[:,'A']

2021-04-30    0.388076
2021-05-01    2.275823
2021-05-02   -0.231695
2021-05-03   -0.458230
2021-05-04    0.116776
2021-05-05    0.860534
Freq: D, Name: A, dtype: float64

In [94]:
df.loc['20210430':'20210503','A']

2021-04-30    0.388076
2021-05-01    2.275823
2021-05-02   -0.231695
2021-05-03   -0.458230
Freq: D, Name: A, dtype: float64

In [96]:
df.loc['20210430':'20210503',['A','C','D']]

                   A         C         D
2021-04-30  0.388076 -0.198925 -0.444986
2021-05-01  2.275823  0.037652  1.444644
2021-05-02 -0.231695 -0.341289  1.210317
2021-05-03 -0.458230 -0.782895 -1.187362

In [98]:
df.at[dates[0],'A']

0.38807601234042666

In [100]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [106]:
df.iloc[0:3,0:4]

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317

In [104]:
df.loc[dates[3]]

A   -0.458230
B    1.318869
C   -0.782895
D   -1.187362
Name: 2021-05-03 00:00:00, dtype: float64

In [107]:
df

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-02 -0.231695 -0.239672 -0.341289  1.210317
2021-05-03 -0.458230  1.318869 -0.782895 -1.187362
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698

In [108]:
df.A

2021-04-30    0.388076
2021-05-01    2.275823
2021-05-02   -0.231695
2021-05-03   -0.458230
2021-05-04    0.116776
2021-05-05    0.860534
Freq: D, Name: A, dtype: float64

In [109]:
df.A>0

2021-04-30     True
2021-05-01     True
2021-05-02    False
2021-05-03    False
2021-05-04     True
2021-05-05     True
Freq: D, Name: A, dtype: bool

In [110]:
df[df.A>0]

                   A         B         C         D
2021-04-30  0.388076 -0.608399 -0.198925 -0.444986
2021-05-01  2.275823  0.423238  0.037652  1.444644
2021-05-04  0.116776 -1.025247 -1.447914  0.862095
2021-05-05  0.860534  0.268884  2.170151 -0.197698